$breakpoint: (
  //ELEMENT BREAKPOINTS
  very-tiny: 17.5em,
  tiny: 27.19em,
  phone: 31.25em,
  phone-lg: 38.25em,
  tablet: 48.75em,
  tablet-lg: 56.25em,
  desktop: 68.75em,
  desktop-lg: 75em,
  bigScreen: 80em
);

//ELEMENT MEDIA QUERY MIXINS
@mixin respond($key, $width: 'max-width', $size: map-get($breakpoint, $key)) {
  @media ($width: $size) {
    @content;
  }
}

/* custom-media-queries */
// @custom-media --phone (max-width: 30em);
// @custom-media --desktop (max-width: 68.75em);