---
import Navigation from './Navigation.astro';
import Search from './Search.astro';
import Logo from './Logo.astro';
---

<header class="header">
  <a class="sr-only" href="#main-content">Skip Navigation</a>

  <div class="header__container">
    <Logo />
    <Navigation />
    <Search />
  </div>
</header>

<style lang="scss">
  .sr-only {
    display: none;
  }

  .header {
    background: linear-gradient(
        to bottom,
        rgba(9, 19, 50, 0.73),
        rgba(0, 8, 21, 0.24)
      ),
      url('../images/ncei-noaa.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    height: 100vh;

    &__container {
      display: flex;
      gap: var(--gap, 1rem);
      margin: 4rem;

      align-items: center;
      justify-content: space-around;

      @media (max-width: 900px) {
        margin-inline: 2.5rem;
      }

      @media (max-width: 700px) {
        justify-content: space-between;
        margin-inline: 2rem;
      }
    }
  }
</style>
