---
import { Icon } from 'astro-icon';

// import logo from '../icons/logo.svg';
---

<div>
  <a href="#">
    <!-- <img src={logo} alt="National Centers for Environmental Information logo" /> -->
    <Icon name="logo" class="logo" />
  </a>
</div>

<style lang="scss">
  .logo {
    width: 90%;
    min-width: 18rem;

    @media (max-width: 85em) {
      width: 70%;
    }
  }
</style>
