---
import { Icon } from 'astro-icon';
---

<div>
  <a href="#">
    <Icon name="logo" class="logo" />
  </a>
</div>

<style>
  .logo {
    width: 90%;
    min-width: 18rem;
    @media (--tablet) {
      width: 70%;
    }
  }
</style>
