---
import logo from '../images/logo.svg';
---

<div>
  <a href="#">
    <img src={logo} alt="National Centers for Environmental Information logo" />
  </a>
</div>

<style lang="scss">
  img {
    width: 90%;
    min-width: 18rem;

    @media (max-width: 85em) {
      width: 70%;
    }
  }
</style>
