<div class="search">
  <label for="search-bar" class="search-bar__label">Search</label>
  <div class="search-bar">
    <input
      type="text"
      id="search-bar"
      class="search-bar__input"
      placeholder="Search"
      aria-label="search"
    />
    <button class="search-bar__submit" aria-label="submit search">
      <img
        src="images/search-white.svg"
        alt="search"
        class="search-bar__icon"
      />
    </button>
  </div>
</div>
